/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Smythe&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #000000;
  font-family: "Smythe", cursive;
}

header {
  background-image: url(./images/bg\ img.png);
  color: #ffffff;
  padding: 2em;
}

/* Typography */

h1 {
  font-size: 2.438rem;
}

header p {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.75rem;
}

.menu-item p {
  font-size: 1rem;
  color: #8b8b8b;
}

.price {
  font-size: 1.25rem;
  display: block;
}

.your-order h2 {
  padding-top: 0.8em;
  text-align: center;
}

/* Menu */

.display {
  width: 600px;
  margin: 0 auto;
  max-width: 90%;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 1.5em;
  position: relative;
}

img {
  margin-right: 30px;
}

.item-info {
  width: 30%;
}

div.item-info > * {
  padding: 0.2em;
}

.item-button {
  margin-left: 220px;
}

.item-button::after {
  content: "";
  position: absolute;
  height: 1px;
  background: #8b8b8b;
  top: 100%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.blur {
  filter: blur(1rem);
}

/* Button */

.item-button button {
  padding: 10px;
  border-radius: 50%;
  border-color: #dedede;
  border-style: solid;
  background-color: white;
  cursor: pointer;
}

.item-button button:active {
  background-color: #e7dededb;
}

i {
  font-size: 1.25rem;
  color: #3c3c3c;
}

/* Order section */

.your-order {
  position: relative;
}

.order-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 2em;
}

.order-item {
  display: flex;
  align-items: center;
}

.your-order .item {
  font-size: 1.75rem;
  margin-right: 15px;
}

.remove-button button {
  border: none;
  background-color: white;
  color: #bbbbbb;
  cursor: pointer;
}

hr {
  margin: 0 auto;
  height: 0.5px;
  border: none;
  background: #8b8b8b;
  width: 90%;
}

/* total area */

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 2em;
}

.total-price {
  margin-left: 407px;
}

.total-title {
  font-size: 1.75em;
  white-space: nowrap;
}

/* complete order button */
.complete-order-button-container {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

.complete-order-button {
  width: 90%;
  padding: 0.8em;
  background-color: #16db99;
  border: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

/* modal area */

.overlay {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #ffffff;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.modal-container h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

input {
  margin: 1em;
  width: 350px;
  padding: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form {
  text-align: center;
}

.pay-button {
  width: 350px;
  padding: 0.8em;
  background-color: #16db99;
  border: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

/* order confirmation area */

.order-confirmation-container {
  margin-top: 1em;
  width: 550px;
  text-align: center;
  padding: 2em;
  background-color: #ecfdf5;
  color: #065f46;
  font-size: 1.25rem;
}
